# CI
/.github/ @paritytech/ci @pepoviola @emamihe
/.gitlab-ci.yml @paritytech/ci @pepoviola @emamihe
/scripts/ci/ @paritytech/ci @pepoviola @emamihe

# add automatic reviewers in PRs
* @pepoviola @wirednkod @l0r1s