default:
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure

stages:
  - lint
  - build
  - test
  - package
  - check
  - publish
  - deploy

variables:
  CI_IMAGE:                        "node:16.10"
  VAULT_SERVER_URL:                "https://vault.parity-mgmt-vault.parity.io"
  VAULT_AUTH_PATH:                 "gitlab-parity-io-jwt"
  VAULT_AUTH_ROLE:                 "cicd_gitlab_parity_${CI_PROJECT_NAME}"
  DOCKERFILE:                      scripts/docker/zombienet_injected.Dockerfile
  DOCKERHUB_REPO:                  paritytech
  IMAGE_NAME:                      $DOCKERHUB_REPO/zombienet

.kubernetes-env:                   &kubernetes-env
  image:                           $CI_IMAGE
  tags:
    - kubernetes-parity-build

.test-refs:                        &test-refs
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                         # PRs
    - if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+.*$/              # i.e. v1.0, v2.1rc1

.common-refs:                      &common-refs
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+.*$/              # i.e. v1.0, v2.1rc1
    - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                         # PRs

.publish-refs:                     &publish-refs
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_REF_NAME == "main"
    - if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+.*$/              # i.e. v1.0, v2.1rc1

#telling gitlab to collect artifacts from artifacts/ folder to path it to other jobs
.collect-artifacts:                &collect-artifacts
  artifacts:
    name:                          "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    when:                          on_success
    expire_in:                     2 days
    paths:
      - artifacts/

lint:
  stage:                           lint
  <<:                              *kubernetes-env
  <<:                              *common-refs
  script:
    - npm install
    - npm run lint

test:
  stage:                           test
  <<:                              *kubernetes-env
  <<:                              *common-refs
  script:
    - npm install
    # - npm run test
    - echo testme

build:
  stage:                           build
  <<:                              *kubernetes-env
  <<:                              *common-refs
  <<:                              *collect-artifacts
  script:
    - mkdir -p artifacts
    - npm install
    - npm run clean
    - npm run build
    - cp -r dist/ artifacts/
    - cp package* artifacts/

package:
  stage:                           package
  <<:                              *kubernetes-env
  <<:                              *common-refs
  <<:                              *collect-artifacts
  needs:
    - job:                         build
  script:
    - mkdir -p artifacts
    - npm install
    - npm run clean
    - npm run build
    - npm run package
    - cp zombienet-* artifacts/


# template task for building and pushing an image
.build-push-docker-image:          &build-push-docker-image
  script:
    - test "$DOCKER_HUB_USER" -a "$DOCKER_HUB_PASS" ||
        ( echo "no docker credentials provided"; exit 1 )
    - buildah bud
        --format=docker
        --build-arg VCS_REF="${CI_COMMIT_SHA}"
        --build-arg BUILD_DATE="$(date -u '+%Y-%m-%dT%H:%M:%SZ')"
        --build-arg VERSION="$VERSION"
        --tag "$IMAGE_NAME:$VERSION"
        --tag "$IMAGE_NAME:latest"
        --file "$DOCKERFILE" .
    - echo "$DOCKER_HUB_PASS" |
        buildah login --username "$DOCKER_HUB_USER" --password-stdin docker.io
    - buildah info
    - echo "Effective tags = ${VERSION} latest"
    - buildah push --format=v2s2 "$IMAGE_NAME:$VERSION"
    - buildah push --format=v2s2 "$IMAGE_NAME:latest"
  after_script:
    - buildah logout --all

#check that the image can be build
publish-test:
  stage:                           check
  <<:                              *test-refs
  <<:                              *kubernetes-env
  variables:
    CI_IMAGE:                      quay.io/buildah/stable
  script:
    - buildah bud
        --format=docker
        --build-arg VCS_REF="${CI_COMMIT_SHA}"
        --build-arg BUILD_DATE="$(date -u '+%Y-%m-%dT%H:%M:%SZ')"
        --build-arg VERSION="${CI_COMMIT_SHORT_SHA}"
        --tag "$IMAGE_NAME:latest"
        --file "$DOCKERFILE" .

publish-docker-pr:
  stage:                           publish
  variables:
    CI_IMAGE:                      quay.io/buildah/stable
    DOCKERHUB_REPO:                paritypr
  before_script:
    - export VERSION=${CI_COMMIT_SHORT_SHA}
  <<:                              *kubernetes-env
  <<:                              *test-refs
  <<:                              *build-push-docker-image

publish-docker:
  stage:                           publish
  secrets:
    DOCKER_HUB_USER:
      vault:                       cicd/gitlab/parity/DOCKER_HUB_USER@kv
      file:                        false
    DOCKER_HUB_PASS:
      vault:                       cicd/gitlab/parity/DOCKER_HUB_PASS@kv
      file:                        false
  variables:
    CI_IMAGE:                      quay.io/buildah/stable
  before_script:
    - if [[ "${CI_COMMIT_TAG}" ]]; then
        VERSION=${CI_COMMIT_TAG};
      elif [[ "${CI_COMMIT_SHORT_SHA}" ]]; then
        VERSION=${CI_COMMIT_SHORT_SHA};
      fi
  <<:                              *kubernetes-env
  <<:                              *publish-refs
  <<:                              *build-push-docker-image

zombienet-tests-integration:
  stage:                           deploy
  <<:                              *kubernetes-env
  image:                           paritytech/zombienet:v1.0.2
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_COMMIT_REF_NAME == "master"
    - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                         # PRs
    - if: $CI_COMMIT_REF_NAME =~ /^v[0-9]+\.[0-9]+.*$/              # i.e. v1.0, v2.1rc1
  # needs:
  #   - job:                         publish-docker-pr

  variables:
    GH_DIR:                        'https://github.com/paritytech/polkadot/tree/master/zombienet_tests/parachains'

  before_script:
    - echo "Zombie-net Tests Config"
    - echo "docker.io/paritytech/zombienet:v1.0.2"
    - echo "${GH_DIR}"
    - export DEBUG=zombie*
    - export ZOMBIENET_INTEGRATION_TEST_IMAGE="docker.io/paritypr/synth-wave:master"
    - export COL_IMAGE="docker.io/paritypr/colander:master"

  script:
    - /home/nonroot/zombie-net/scripts/run-test-env-manager.sh
        --github-remote-dir="${GH_DIR}"
        --test="0001-parachains-smoke-test.feature"
  allow_failure:                   true
  retry: 2
  tags:
    - zombienet-polkadot-integration-test
