*.css
*.scss
*.svg
*.png
*.json
*.log
*.lock
*.md
*.ico
*.ttf
*.xml
*.txt
*.html
*.webmanifest
*.yaml
*.yml
*.tsconfig.json
*.tsbuildinfo
*.sh
*.toml
dist
LICENSE
postcss.config.js
README.md
bins
node_modules