name: Zombienet Packages Build Release Manual


# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch

jobs:
  build_release_for_linux:
    name: build_release_for_linux
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
        working-directory: "./javascript"
      - run: npm run build
        working-directory: "./javascript"
      - run: npm run package:linux
        working-directory: "./javascript"
      - run: ls ./bins
        working-directory: "./javascript"
      - name: Test if zombienet-linux runs
        run: ./bins/zombienet-linux-x64 version
        working-directory: "./javascript"
  build_release_for_mac:
    name: build_release_for_mac
    needs: build_release_for_linux
    strategy:
      matrix:
        target:
          - { runner: macos-13, arch: x64 }
          - { runner: macos-14, arch: arm64 }
    runs-on: ${{ matrix.target.runner }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install && npm update
        working-directory: "./javascript"
      - run: npm run build
        working-directory: "./javascript"
      - run: npm run package:macos:${{ matrix.target.arch }}
        working-directory: "./javascript"
      - name: Test if zombienet-mac runs
        run: ./bins/zombienet-macos-${{ matrix.target.arch }} version
        working-directory: "./javascript"
      - name: Gets latest created release info
        id: latest_release_info
        #uses: jossef/action-latest-release-info@v1.2.1
        uses: pepoviola/action-latest-release-info@v0.0.1
      - name: upload macos artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.latest_release_info.outputs.upload_url }}
          asset_path: ./javascript/bins/zombienet-macos-${{ matrix.target.arch }}
          asset_name: zombienet-macos-${{ matrix.target.arch }}
          asset_content_type: application/octet-stream
