name: Zombienet NPM Automated Release
on:
  push:
    branches: [nik-automate-npm-release]
jobs:
  publish:
    name: Build & Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Build NPM Package
        run: npm run build ${{steps.get_tag_version.outputs.TAG_VERSION}}
      - run: npm pack
      - uses: actions/upload-artifact@v3
        with:
          name: package
          path: *.tgz
      - uses: octokit/request-action@v2.x
        with:
          route: POST /repos/paritytech/npm_publish_automation/actions/workflows/publish.yml/dispatches
          ref: main
          inputs: '${{ format(''{{ "repo": "{0}", "run_id": "{1}" }}'', github.repository, github.run_id) }}'
        env:
          GITHUB_TOKEN: ${{ secrets.ZOMBIENET_GITHUB_TOKEN }}
